.Header, .Footer{
    width: 100%;
    background-color: rgba(0,0,0);
    color: #fff;
    z-index: 1;
}
.Header{
    height: 50px;
}
.Header .Description, .Header .Life{
    position: absolute;
    top: 10px;
}
.Header .Description{
    color:#fff;
    font-size: 15px;
    font-weight: 600;
    left: 43%;
}
.Header .Life{
    right: 2%;
}
.Footer{
    bottom: 0px;
    padding: 10px 0px;
    font-size: 10px;
    text-align: center;
}
.Footer #icon{
    color: red;
}